@model Quizzer.Models.ViewModels.AnswerVM
    <h2>Add Question</h2>
    <form id="question" method="post" asp-action="AddAnswer" asp-controller="Question">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class=form-group row>
            <label class="col-md-2">Enter your answer</label>
            <div class="col-md-10">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class=form-group row>
            <label class="col-md-2">Is it correct?</label>
            <div class="col-md-10">
                <input asp-for="Correct" class="form-control" />
                <span asp-validation-for="Correct" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 offset-md-11">
                <input type="submit" value="Submit" class="btn btn bg-success" style="color: white;" />
            </div>
        </div>
    </form>
